html,body{
  height: 100%;
  width: 100%;
}
body{
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.logo{
  width: 40px;
  object-fit: cover;
}
.register-image{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin: 12px 0;
}
.border-1{
  border: 1px solid;
}
.h-full{
  height: 100%;
}
.w-full{
  width: 100%;
}
.chat-box > div{
  height: 90vh;
  overflow: hidden;
}

.cursor-pointer{
  cursor: pointer;
}
